/* Default button style */
.custom-button {
    -fx-background-color: transparent; /* Default */
    -fx-text-fill: white;
}

/* Hover effect for unclicked buttons */
.custom-button:hover {
    -fx-background-color: linear-gradient(to bottom right, grey,black); /* Hover color */
}

/* Clicked button state */
.custom-button.clicked {
    -fx-background-color: linear-gradient(to bottom right, grey,black); /* Clicked color */
}

.logoutButton{
    -fx-background-color: transparent;
}

/* Hover effect for clicked buttons */
/*.custom-button.clicked:hover {
    -fx-background-color: #c0392b; /* Different hover color */
/*}